html,body {
   border:none;
   margin:0;
   padding:0;
   height:100%;
   background-color:#000000;
   color:#A08000;
   font-size:28px;
   font-family:courier,monospace;
	text-shadow: 0 0 4px #AA8822, 0 0 8px #442200, 0 0 12px #444400, 0 0 16px #FFFFFF;
}
input:focus,textarea:focus {
    outline: none !important;
    border:1px solid #888888;
    box-shadow: 0 0 0px #000000;
}
input[type="text"],input[type="password"] {
   border:0;
   width:100%;
   background-color:#282828;
   color:#CCCCAA;
   font-size:24px;
}
input[type="number"] {
   border:0;
   width:128px;
   background-color:#282828;
   color:#CCCCAA;
   font-size:20px;
}
input[type="submit"] {
   background-color:#888888;
   color:#000000;
}
textarea {
   border:0;
   background-color:#282828;
   color:#AAAA88;
}
